@using Microsoft.AspNetCore
@using UmBlazor.Shared.Models

<div class="timeline-item">
    <div class="time">@Item.Date.ToShortDateString()</div>
    @((MarkupString)Item.Description)
</div>

@functions {
    [Parameter]
    private TimelineItem Item { get; set; }
}